.DS_Store
.vscode
*CLAUDE.md
./*CLAUDE.md
./*/*CLAUDE.md
./*/*/CLAUDE.md
subject.md
*.o
*.d
*.a
*.so
*.dylib
*.bundle
*.bundle/*
*.bundle/**/*
*.bundle/**/**/*
*.bundle/**/**/**/*
*.bundle/**/**/**/**/*
*.bundle/**/**/**/**/**/*
*.bundle/**/**/**/**/**/**/*
*.dSYM
*.dSYM/*
*.dSYM/**/*
*.dSYM/**/**/*
*.dSYM/**/**/**/*
*.dSYM/**/**/**/**/*
*.dSYM/**/**/**/**/**/*
*.dSYM/**/**/**/**/**/**/*

