.DS_Store
.vscode
*CLAUDE*
./*CLAUDE*
./*/*CLAUDE*
./*/*/CLAUDE*
subject.md
*.md
*.o
*.d
*.a
*.so
*.dylib
*.bundle
*.bundle/*
*.bundle/**/*
*.bundle/**/**/*
*.bundle/**/**/**/*
*.bundle/**/**/**/**/*
*.bundle/**/**/**/**/**/*
*.bundle/**/**/**/**/**/**/*
*.dSYM
*.dSYM/*
*.dSYM/**/*
*.dSYM/**/**/*
*.dSYM/**/**/**/*
*.dSYM/**/**/**/**/*
*.dSYM/**/**/**/**/**/*
*.dSYM/**/**/**/**/**/**/*

